<!DOCTYPE html>
<html>
<head>
    <title>Список файлов</title>
</head>
<body>
    <h1>Список файлов в папке:</h1>
    <form action="/files" method="post">
        <label for="folder_path">Путь к папке:</label>
        <input type="text" id="folder_path" name="folder_path">
        <input type="submit" value="Показать файлы">
    </form>

    {% if files %}
        <ul>
        {% for file in files %}
            <li>{{ loop.index }}. {{ file }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
